*{
    margin: 0;
    padding: 0;
}

body {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 50px;
  }

.board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.victory, .square.victory:hover {
  background: rgb(255, 230, 0);
}

.square:hover{
  background: #eee;
  cursor: pointer;
}

.square:active{
  background: #ddd;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

ul{
  list-style-type: none;
  padding-left: 0px;
}

.undo{
  font-family: inherit;
  background-color: #cdddff;
  color: #0f3fa7;
  border: 2px solid #0954f7;
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 5px;
  margin: 5px 0;
  cursor: pointer;
}

.undo.current{  
  background-color: #f7ffaf;
  border: 2px solid #e1ee25;
  color: #778b1b;
}

.undo.pasted{
  background-color: #c5d2ee;
  border: 2px solid #90b2fc;
  color: #597ac0;
}




  /* body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
} */